{% extends 'layouts/base.html' %}

{% set page_title = 'Home' %}

{% block content %}
<div class="container">
	<div class="jumbotron">
		<h1 class="display-4">Willkommen auf Waldcheck24!</h1>
		<p class="lead">Für Privatpächter, Holzkonzerne und Sägewerke.</p>
		<hr class="my-4">
		<p>Hier ist es möglich den Wert seines Waldes zu bestimmen.</p>
		<p class="lead">
			  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img class="d-block w-100" src="https://images.pexels.com/photos/957024/forest-trees-perspective-bright-957024.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="First slide">
				  </div>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
				  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				  <span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
				  <span class="carousel-control-next-icon" aria-hidden="true"></span>
				  <span class="sr-only">Next</span>
				</a>
			  </div>

		  <a class="btn btn-primary btn-lg mt-3" href="{{url_for('wald.overview')}}" role="button">Zur Übersicht</a>
		</p>
	  </div>
</div>
{% endblock %}