{% extends 'layouts/base.html' %}

{% block title %}Überblick{% endblock %}

{% block content %}
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for msg in messages %}
				<p>{{msg}}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}
<div class="container">
	<h2 class="m-3 text-center">Formular</h2>
	<form method='POST'>
		<div class="form-group">
			<label for="formGroupExampleInput">Name</label>
			<input type="text" class="form-control" name="name" id="name" placeholder="Name">
		</div>
		<div class="form-group">
			<label for="formGroupExampleInput2">Flurnummer</label>
			<input type="text" class="form-control" name="flurnummer" id="flurnummer" placeholder="Flurnummer">
		</div>
		<div class="form-group">
			<label for="formGroupExampleInput2">Fläche gesamt</label>
			<input type="text" class="form-control" name="flaeche_gesamt" id="flache_gesamt" placeholder="Fläche gesamt">
		</div>
		<div class="form-group">
			<label for="exampleFormControlSelect1">Baumgruppen</label>
			<select class="form-control" name="baumgruppen">
			  <option>Fichte</option>
			  <option>Buche</option>
			  <option>Kiefer</option>
			</select>
		</div>
		<div class="form-group">
			<input type="checkbox" id="forstung" name="forstung">
			<label for="forstung">Forstung</label>
			<br/>
		</div>
		<button type="submit" class="btn btn-primary">Erstelle Wald</button>
	</form>
</div>

{% endblock %}