{% extends 'layouts/base.html' %}

{% block title %}Überblick{% endblock %}

{% block content %}
<!--
	TODO
	Details von Variable 'wald' auflisten
-->
<div class="container">
	<h2>Details </h2>
	<table class="table">
		<tbody>
		  <tr>
			<td>Name</td>
			<td>{{ wald.name }}</td>
		  </tr>
		  <tr>
			<td>Fläche (Hektar)</td>
			<td>{{ wald.flaeche }}</td>
		  </tr>
		  <tr>
			<td>Forstung möglich</td>
			<td>{{ wald.forstung }}</td>
		  </tr>
		  <tr>
			<td>Lokation</td>
			<td>{{ wald.lokation }}</td>
		  </tr>
		  {% if wald.forstung == True %}
		  <tr>
			<td>Geschätzter Wert (aktuell)</td>
			<td>{{ (wald.flaeche * 4000) + ((wald.flaeche * 4000) * 0.1) }} Euro</td>
		  </tr>
		  {%endif%}
		  {% if wald.forstung == False %}
			<td>Geschätzter Wert (aktuell)</td>
		  	<td>{{ wald.flaeche * 4000 }} Euro</td>
	  	  {%endif%}

		</tbody>
	  </table>
</div>
{% endblock %}